.buyingWindow {
    position: fixed;
    width: 80vh;
    height: 60vh;
    top: 50%;
    left: 50%;
    margin-top: -25vh;
    margin-left: -40vh;
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 2px #9a9a9a;
    z-index: 9999;
}

.buyingWindow .details {
    display: grid;
    grid-template-areas:
    "img description"
    "img description"
    "confirmButton confirmButton";
    grid-template-columns: 1fr 2fr;
    padding: 0 15px;
}

.buyingWindow .details img {
    grid-area: img;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.buyingWindow .details .description {
    grid-area: description;
    font-size: 20px;
    margin: 20px;
    line-height: 1.5;
    color:black;
}
.buyingWindow .details .description p.price {
    float: left;
    font-size: 23px;
    font-weight: 300;
    margin-top: 10px;
}
.buyingWindow .details .description div.quantity {
    float: right;
}
.buyingWindow .details .description div.quantity :is(.minus, .plus) {
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 22px;
    font-weight: 200;
    color: black;
    background-color: white;
    border: 1px solid #b2b2b2;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
.buyingWindow .details .description div.quantity :is(.minus, .plus):hover {
    background-color: rgb(214, 212, 212);
}
.buyingWindow .details .description div.quantity :is(.minus, .plus):before {
    content: "";
    width: 13px;
    height: 2px;
    background: #000;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -0.5px;
    position: absolute;
}
.buyingWindow .details .description div.quantity .plus:after {
    content: "";
    height: 13px;
    width: 2px;
    background: #000;
    left: 50%;
    margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
    position: absolute;
}
.buyingWindow .details .description div.quantity div.value {
    cursor: default;
    width: 40px;
    height: 40px;
    color: #A9A9A9;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    display: inline-block;
    margin-right: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.buyingWindow .details .confirmButton {
    grid-area: confirmButton;
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin: 15px;
}
.buyingWindow .details .confirmButton button {
    font-size: 20px;
    margin: 10px;
    padding: 3px;
}

.buyingWindow .details .description ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 8px 0;
}
.buyingWindow .details .description ul li {
    border: 2px solid gray;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 3px 0;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    min-width: 70px;
    cursor: default;
}
.buyingWindow .details .description ul li.choosen {
    border: 2px solid rgb(81, 140, 154);
    background-color: rgb(147, 185, 226);
}